@import "tailwindcss";

/* Mengaktifkan klik manual Dark Mode di Tailwind v4 */
@variant dark (&:where(.dark, .dark *));

/* Menyembunyikan scrollbar agar UI terlihat seperti aplikasi mobile */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}